*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #000000;
}

ul{
    list-style-type: none;
}

.d-flex{
    display: flex !important;
}

.header{
    flex-direction: row;
    justify-content: space-around;
    padding: 25px 0;
    position: relative;
}

nav{
    
}

nav ul{
    
}

nav li{
    display: inline-block;
    margin-right: 35px;
    font-size: 1.3em;
    margin-top: 13px;
    
}

nav li a{
    transition: color 0.2s;
    cursor: pointer;
}

nav li a:hover{
    color: #FF4A52;
}

.translate{
    transform: translateX(500px);
    transition: transform 1s;
}

.untranslate{
    transform: translateX(0px);
    transition: transform 1s;
}

.search-btn{
    background-color: #FF4A52;
    position: absolute;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100px;
    right: 45px;
}

.search-btn a{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
    cursor: pointer;
}

.menu-btn{
    background-color: #1EC6B6;
    position: absolute;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 30px;
    right: 45px;
    display: none !important;
}

.slide{
    background-image: url("../images/banner2.png");
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 50vw;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.location-slide h3{
    font-size: 8vw;
    font-weight: 400;
    font-family: cursive;
    color: white;
    line-height: 10vw;
}

.detail-slide p{
    font-size: 2.5vw;
    color: white;
    font-weight: 400;
}

.btn-slide a button{
    color: white;
    background-color: #1EC6B6;
    padding: 1vw 1.5vw;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.7vw;
    font-family: "Rubik", sans-serif;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn-slide a button:hover{
    background-color: #FF4A52;
}

.open{
    
}

.visible{
    visibility: visible;
}

.search-bar{
    flex-direction: row;
    justify-content: center;
    padding: 15px 25px;
    background-color: #040E27;
    align-items: center;
}

.search-bar h3{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.search-form{
    justify-content: center;
    align-items: center;
    width: 80%;
}

.search-form input{
    padding: 17px 50px;
    margin: 10px;
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid #363E52;
    border-radius: 5px;
    width: 100%;

}

.search-form button{
    border: none;
    background-color: #FF4A52;
    padding: 17px 39px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 5px;

}

.search-form button:hover{
    background-color: #1EC6B6;
}

.popular{
    
}

.pop-title{
    margin: 100px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.pop-title h3{
    font-size: 38px;
    color: #040E27;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pop-title p{
    line-height: 30px;
    color: #7A838B;
    font-size: 16px;
    font-weight: 400;
}


.gallery{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card{
    margin: 0 8px;
    transition: transform 0.3s;
    position: relative;
    cursor: pointer;
   
}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    width: 100%;
    z-index: 100;
    border-radius: 5px;
    height: 92.4%;

}

.card:hover {
    transform: translateY(-10px);
}

.card img{
    height: 280px;
    margin-bottom: 20px;
    width: 100%;
}

.card div p{
    display: flex;
    position: absolute;
    bottom: 35px;
    left: 50px;
    color: #fff;
    font-size: 22px;
    z-index: 1000;
    transition: 0.3s;
}

.card div p:hover{
    color: #FF4A52;
}



.card div p a{
    color: #fff;
    background-color: #1EC6B6;
    padding: 6px 10px;
    border-radius: 19px;
    margin-left: 9px;
    font-size: 12px;
    transition: 0.3s;
}

.card div p a:hover{
    background-color: #FF4A52;
}

.newsletter{
    display: flex;
    height: 250px;
    justify-content: center;
    background-image: url("../images/newsletter.png");
    background-position: 65% 65%;
    background-size: cover;
    position: relative;
}

.newsletter::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #040E27;
    opacity: 0.7;
}

.newsletter-container{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.newsletter-text{
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 0;
    margin-right: 10px;
}

.newsletter h5{
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}

.newsletter p{
    font-size: 12px;
    font-weight: 400;
    color: #AAB1B7;
}


.subscribe-form{
    
}

.subscribe-form input{
    width: 40vw;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
}

.subscribe-form button{
    background-color: #FF4A52;
    color: #fff;
    padding: 16px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.video{
    background-image: url(../images/video.png);
    background-position: center center;
    background-size: 100% 100%;
    /* padding: 130px 0; */
    height: 500px;
    width: 100%;
    margin: 15px 0;
    position: relative;
    background-repeat: no-repeat;
}


.video::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: rgb(4, 14, 39);;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1;
}

.play{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 10;

}

.play h3{
    color: #fff;
    font-size: 7vw;
    font-weight: 400;
    font-family: cursive;
    margin-bottom: 30px;
}

.video-icon{
    color: #fff;
    background-color: #1EC6B6;
    border: none;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    transition: all 0.5s;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-icon:hover{
    background-color: #FF4A52;
}

.footer{
    background-color: #040E27;
    justify-content: space-around;
    padding: 30px;
}

.footer h3{
    color:#fff;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}

.footer li a{
    color: #AAB1B7 !important;
}

.left-footer{
    margin-bottom: 20px;
}

.left-footer img{
    width: 100%;
    height: auto;
}

.left-footer ul li{
    line-height: 1.5;
    
}
.right-footer{
    
}

.right-footer ul li{
   float: left;
   width: 50%;
   line-height: 35px;
   font-size: 14px;
}













